<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ReceitaServlet</servlet-name>
        <servlet-class>controller.ReceitaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertServlet</servlet-name>
        <servlet-class>controller.insertServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alterServlet</servlet-name>
        <servlet-class>controller.alterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteServlet</servlet-name>
        <servlet-class>controller.deleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateInfos</servlet-name>
        <servlet-class>controller.updateInfos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReceitaServlet</servlet-name>
        <url-pattern>/ReceitaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertServlet</servlet-name>
        <url-pattern>/insertServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alterServlet</servlet-name>
        <url-pattern>/alterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteServlet</servlet-name>
        <url-pattern>/deleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateInfos</servlet-name>
        <url-pattern>/updateInfos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
